html, body, #root, .app {
  height: 100%;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.app {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #e6e4e2;
  -webkit-box-shadow: 0px 10px 32px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 32px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 32px 1px rgba(0,0,0,0.75);
}

.notebook-title {
  text-align: center;
}

.note-list-header {
  display: flex;
  justify-content: space-between;
}

.note-list-btns button{
  margin-right: 2px;
}

.note-list {
  margin-top: 20px;
}

.note-summary {
  display: flex;
  justify-content: space-between;
}

.note-btns button {
  margin-right: 2px;
  font-size: 11pt;
  height: 100%;
}